- Based on generated interactions, perform data splitting

In [1]:
import os, csv
import pandas as pd

In [ ]:
os.chdir('your dataset folder path')
os.getcwd()

## Load interactions

In [3]:
rslt_file = 'sports-indexed.inter'
df = pd.read_csv(rslt_file, sep='\t')
print(f'shape: {df.shape}')
df[:4]

shape: (296337, 5)

   userID  itemID  rating   timestamp  x_label
0       1       0     5.0  1328140800        0
1       2       0     4.0  1330387200        0
2       3       0     4.0  1328400000        0
3       4       0     4.0  1366675200        0

In [4]:
import random
import numpy as np

In [4]:

df = df.sample(frac=1).reset_index(drop=True)

df.sort_values(by=['userID'], inplace=True)
df[:20]

        userID  itemID  rating   timestamp  x_label
154667       0   11981     2.0  1390694400        1
295557       0   15852     5.0  1390694400        1
189316       0   17787     3.0  1391990400        2
151302       0       0     5.0  1390694400        1
1820         0    3369     5.0  1405123200        2
60040        0   13372     5.0  1391990400        2
199192       0    5458     5.0  1405123200        2
163234       0    3327     3.0  1391990400        2
60837        1    2322     5.0  1337212800        0
233786       1    4123     5.0  1354838400        0
163460       1   14212     5.0  1368230400        0
206628       1    1542     4.0  1302220800        0
261633       1    8802     4.0  1368230400        0
99658        1    9198     5.0  1318377600        0
268935       1    7215     5.0  1285372800        0
77956        1   13468     5.0  1328140800        0
105444       1    2374     5.0  1391558400        1
237889       1    7169     5.0  1302220800        0
173295       1    6677     5.0  1318377600        0
50074        1   15278     5.0  1344902400        0

In [ ]:
uid_field, iid_field = 'userID', 'itemID'

uid_freq = df.groupby(uid_field)[iid_field]
u_i_dict = {}
for u, u_ls in uid_freq:
    u_i_dict[u] = list(u_ls)
u_i_dict

In [6]:
new_label = []
u_ids_sorted = sorted(u_i_dict.keys())

for u in u_ids_sorted:
    items = u_i_dict[u]
    n_items = len(items)
    if n_items < 10:
        tmp_ls = [0] * (n_items - 2) + [1] + [2]
    else:
        val_test_len = int(n_items * 0.2)
        train_len = n_items - val_test_len
        val_len = val_test_len // 2
        test_len = val_test_len - val_len
        tmp_ls = [0] * train_len + [1] * val_len + [2] * test_len
    new_label.extend(tmp_ls)

new_label[:100]

[0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 2,
 2,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [7]:
df['x_label'] = new_label
df[:20]

        userID  itemID  rating   timestamp  x_label
154667       0   11981     2.0  1390694400        0
295557       0   15852     5.0  1390694400        0
189316       0   17787     3.0  1391990400        0
151302       0       0     5.0  1390694400        0
1820         0    3369     5.0  1405123200        0
60040        0   13372     5.0  1391990400        0
199192       0    5458     5.0  1405123200        1
163234       0    3327     3.0  1391990400        2
60837        1    2322     5.0  1337212800        0
233786       1    4123     5.0  1354838400        0
163460       1   14212     5.0  1368230400        0
206628       1    1542     4.0  1302220800        0
261633       1    8802     4.0  1368230400        0
99658        1    9198     5.0  1318377600        0
268935       1    7215     5.0  1285372800        0
77956        1   13468     5.0  1328140800        0
105444       1    2374     5.0  1391558400        0
237889       1    7169     5.0  1302220800        0
173295       1    6677     5.0  1318377600        0
50074        1   15278     5.0  1344902400        0

In [12]:
rslt_file[:-6]

'beauty14-indexed'

In [8]:
new_labeled_file = rslt_file[:-6] + '-v4.inter'
df.to_csv(os.path.join('./', new_labeled_file), sep='\t', index=False)
print('done!!!')

done!!!

## Reload

In [9]:
indexed_df = pd.read_csv(new_labeled_file, sep='\t')
print(f'shape: {indexed_df.shape}')
indexed_df[:20]

shape: (296337, 5)

    userID  itemID  rating   timestamp  x_label
0        0   11981     2.0  1390694400        0
1        0   15852     5.0  1390694400        0
2        0   17787     3.0  1391990400        0
3        0       0     5.0  1390694400        0
4        0    3369     5.0  1405123200        0
5        0   13372     5.0  1391990400        0
6        0    5458     5.0  1405123200        1
7        0    3327     3.0  1391990400        2
8        1    2322     5.0  1337212800        0
9        1    4123     5.0  1354838400        0
10       1   14212     5.0  1368230400        0
11       1    1542     4.0  1302220800        0
12       1    8802     4.0  1368230400        0
13       1    9198     5.0  1318377600        0
14       1    7215     5.0  1285372800        0
15       1   13468     5.0  1328140800        0
16       1    2374     5.0  1391558400        0
17       1    7169     5.0  1302220800        0
18       1    6677     5.0  1318377600        0
19       1   15278     5.0  1344902400        0

In [10]:
u_id_str, i_id_str = 'userID', 'itemID'
u_uni = indexed_df[u_id_str].unique()
c_uni = indexed_df[i_id_str].unique()

print(f'# of unique learners: {len(u_uni)}')
print(f'# of unique courses: {len(c_uni)}')

print('min/max of unique learners: {0}/{1}'.format(min(u_uni), max(u_uni)))
print('min/max of unique courses: {0}/{1}'.format(min(c_uni), max(c_uni)))

# of unique learners: 35598
# of unique courses: 18357
min/max of unique learners: 0/35597
min/max of unique courses: 0/18356